Repository samobasquiat/rango-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nikaaru, @yeager-eren, @RanGojo, @samobasquiat, @mikasackermn, @Ikari-Shinji-re

chore: improve updating URL logic in widget embedded
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWalletsModal.tsx
  widget/embedded/src/components/NotificationContent/NotificationContent.tsx
  widget/embedded/src/components/QuoteWarningsAndErrors/SlippageWariningModal.tsx
  widget/embedded/src/components/SwapDetails/SwapDetails.tsx
  widget/embedded/src/components/SwapDetailsModal/SwapDetailsCompleteModal.tsx
  widget/embedded/src/components/UpdateUrl.tsx
  widget/embedded/src/hooks/useNavigateBack.ts
  widget/embedded/src/hooks/useSyncStoresWithConfig.ts
  widget/embedded/src/hooks/useUpdateQuoteParams/index.ts
  widget/embedded/src/hooks/useUpdateQuoteParams/useUpdateQuoteParams.ts
  widget/embedded/src/pages/ConfirmSwapPage.tsx
  widget/embedded/src/pages/HistoryPage.tsx
  widget/embedded/src/pages/Home.tsx
  widget/embedded/src/pages/SelectBlockchainPage.tsx
  widget/embedded/src/pages/SelectSwapItemsPage.tsx
  widget/embedded/src/pages/SettingsPage.tsx
Owners: none

chore: use virtualized list for swap history items
  widget/embedded/src/components/SwapsGroup/SwapsGroup.styles.ts
  widget/embedded/src/components/SwapsGroup/SwapsGroup.tsx
  widget/embedded/src/components/SwapsGroup/SwapsGroup.types.ts
  widget/embedded/src/components/TokenList/TokenList.tsx
  widget/embedded/src/utils/date.ts
  widget/playground/src/components/SingleList/SingleList.tsx
  widget/playground/src/components/TokensPanel/TokensPanel.List.tsx
  widget/ui/package.json
  widget/ui/src/components/TokenList/TokenList.tsx
  widget/ui/src/components/VirtualizedList/VirtualizedList.tsx
  widget/ui/src/components/VirtualizedList/VirtualizedList.types.ts
  widget/ui/src/components/VirtualizedList/index.ts
  yarn.lock
Owners: @samobasquiat, @mikasackermn, @Ikari-Shinji-re

add padding to swap groups
  widget/embedded/src/components/SwapsGroup/SwapsGroup.styles.ts
Owners: none

fix: widget ui bugs
  widget/embedded/src/components/BlockchainsSection/BlockchainsSection.styles.ts
  widget/embedded/src/components/ConfirmWalletsModal/WalletList.tsx
  widget/embedded/src/components/NotificationContent/NotificationContent.styles.ts
  widget/embedded/src/components/Quote/Quote.tsx
  widget/ui/src/components/NotFound/NotFound.styles.ts
  widget/ui/src/containers/SwapInput/TokenSection.styles.ts
Owners: @mikasackermn, @Ikari-Shinji-re

fix: conflicts
  widget/embedded/src/hooks/useSwapInput.ts
Owners: none

feat: add right anchor to modal
  widget/ui/src/components/Modal/Modal.styles.ts
  widget/ui/src/components/Modal/Modal.tsx
  widget/ui/src/icons/Menu.tsx
  widget/ui/src/icons/index.ts
  widget/ui/svgs/resources/fill/Menu.svg
Owners: @mikasackermn, @Ikari-Shinji-re

chore: add some props to modal
  widget/ui/src/components/Modal/Modal.tsx
  widget/ui/src/components/Modal/Modal.types.ts
Owners: @mikasackermn, @Ikari-Shinji-re

fix: fixed getRequiredWallets argument type
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWallets.helpers.ts
  widget/embedded/src/components/ConfirmWalletsModal/ConfirmWalletsModal.tsx
  widget/embedded/src/pages/ConfirmSwapPage.tsx
Owners: none

fix review comments
  widget/embedded/src/components/SwapsGroup/SwapsGroup.styles.ts
  widget/embedded/src/components/SwapsGroup/SwapsGroup.tsx
Owners: none

feat: add production release workflow
  .github/workflows/release.yml
  docs/release.md
Owners: @yeager-eren, @RanGojo

rename components
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.styles.ts
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.tsx
  widget/embedded/src/components/HistoryGroupedList/HistoryGroupedList.types.ts
  widget/embedded/src/components/HistoryGroupedList/index.ts
  widget/embedded/src/components/SwapsGroup/index.ts
  widget/embedded/src/pages/HistoryPage.tsx
  widget/embedded/src/utils/date.ts
Owners: none

feat: add a new wf
  .github/workflows/release.yml
Owners: @yeager-eren, @RanGojo

chore(translation): update translations [skip ci]
  translations/es.po
  translations/fr.po
  translations/ja.po
Owners: none

chore(translation): update translations [skip ci]
  translations/es.po
  translations/fr.po
  translations/ja.po
Owners: none

feat: add a new word
  widget/ui/src/components/SwapListItem/SwapListItem.helpers.ts
Owners: @mikasackermn, @Ikari-Shinji-re

feat: add a new word
  widget/ui/src/components/SwapListItem/SwapListItem.helpers.ts
Owners: @mikasackermn, @Ikari-Shinji-re

chore(translation): update translations [skip ci]
  translations/en.po
  translations/es.po
  translations/fr.po
  translations/ja.po
Owners: none

chore(translation): update translations [skip ci]
  translations/en.po
  translations/es.po
  translations/fr.po
  translations/ja.po
Owners: none

chore(translation): update translations [skip ci]
  translations/en.po
  translations/es.po
  translations/fr.po
  translations/ja.po
Owners: none

chore(translation): update translations [skip ci]
  translations/en.po
  translations/es.po
  translations/fr.po
  translations/ja.po
Owners: none

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/crowdin.yml @nikaaru
/lingui.config.ts @yeager-eren  @nikaaru
/.github @yeager-eren @RanGojo
/queue-manager/* @yeager-eren @samobasquiat
/scripts @yeager-eren
/signers/* @RanGojo @mikasackermn
/wallets/core @yeager-eren
/wallets/react @yeager-eren
/widget/embedded/store @yeager-eren @Ikari-Shinji-re
/widget/iframe @yeager-eren @Ikari-Shinji-re
/widget/playground @samobasquiat @mikasackermn
/widget/ui @mikasackermn @Ikari-Shinji-re
/wallets/provider-safe @samobasquiat
